* {
    box-sizing: border-box;
}


body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
  
.jumbotron {
      /* background-color: rgb(17, 17, 177); */
      background: linear-gradient(.25turn, rgb(73, 73, 234), 50%, rgb(6, 6, 154));
      color: white;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 10px;
      border-radius: 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 21px;
    /* margin: 10px 0 10px 0px; */
    font-weight: bold;
}

.search-box {
    display: block;
    border: solid black 1px;
    border-radius: .3rem;
    margin-left: 0px;
    width: 172px;
}

.btn {
    display: block;
    background-color: rgb(0, 162, 255);
    color: white;
    width: 172px;
    margin: 10px 0 15px 0px;
    

}

.city-header {
margin: 0 0 20px 0px;
padding: 20px;
  border: 1px solid black;
  border-radius: 0.3rem;
}

/* .city-card {
    border-bottom: black 1px solid;
} */